* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header__title, h1 {
  color: black;
  font-family: "Shrikhand";
  font-size: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

main {
  font-family: "roboto";
}

h3 {
  font-size: 1.1rem;
  font-weight: bold;
}

a {
  color: black;
  text-decoration: none;
}

.section-booking__position {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-booking__position--button {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  height: 2rem;
  border-radius: 2rem;
  color: white;
  border: none;
  width: 150px;
}

.nav__button {
  border-radius: 2rem;
  height: 4.5rem;
  width: 15rem;
  margin-top: 1.3rem;
  width: 90%;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.2rem;
  background-color: white;
  -webkit-box-shadow: 2px 2px 14px #aaaaaa;
          box-shadow: 2px 2px 14px #aaaaaa;
}

.nav__button--p {
  height: 1.5rem;
  width: 1.9rem;
  background-color: #9356DC;
  border-radius: 50%;
  margin-top: 0.5rem;
  text-align: center;
  color: white;
  margin-left: -0.9rem;
  padding-top: 0.3rem;
}

.nav__button--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 3.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__button--logo {
  font-size: 1.5rem;
  padding-right: 1rem;
}

.Button_Restaurants_Menu--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  width: 90%;
}

.Button_Restaurants_Menu--price {
  padding-left: 1rem;
  padding-top: 1.5rem;
}

header {
  width: auto;
  min-height: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
}

.section-booking {
  width: auto;
  height: auto;
  background-color: #f3f3f3;
}

.section-booking .section-booking__research {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 3rem;
  background-color: #d9d9d9;
  padding-left: 4rem;
}

.section-booking .section-booking__research .section-booking--left, .section-booking .section-booking__research .section-booking--input {
  border-style: none;
  background-color: #d9d9d9;
}

.section-booking .section-booking__research .section-booking--input::-webkit-input-placeholder {
  color: black;
}

.section-booking .section-booking__research .section-booking--input:-ms-input-placeholder {
  color: black;
}

.section-booking .section-booking__research .section-booking--input::-ms-input-placeholder {
  color: black;
}

.section-booking .section-booking__research .section-booking--input::placeholder {
  color: black;
}

.section-booking {
  height: 250px;
  margin-top: 1rem;
}

.section-booking__text {
  padding: 2rem;
  text-align: center;
}

.section-booking__text--h2 {
  padding-bottom: 1rem;
}

.section-booking__text--p {
  margin-right: 20px;
}

nav {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-Restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-Restaurants--img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.article-Restaurants {
  width: 90%;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 14px #aaaaaa;
          box-shadow: 2px 2px 14px #aaaaaa;
  margin-top: 2rem;
  margin-left: 1rem;
}

.article-Restaurants--container {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.article-Restaurants--news {
  width: 65px;
  height: 20px;
  background-color: #99E2D0;
  position: absolute;
}

.article-Restaurants--heart {
  position: absolute;
}

.Section-Button_Restaurants {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  height: 2rem;
  border-radius: 2rem;
  color: white;
  border: none;
  width: 150px;
}

footer {
  background-color: #d9d9d9;
  margin-top: 2rem;
  height: 150px;
  background-color: #272727;
}

.footer--text {
  color: black;
  font-family: "Shrikhand";
  font-size: 1.5rem;
  font-size: 1.2rem;
  padding-left: 1rem;
  color: white;
}

footer > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
}

footer > ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  color: white;
}

.footer-position--logo {
  padding-right: 12px;
}

.footer-position--logo1 {
  padding-right: 5px;
}

.Position-restaurants-Pages {
  margin-top: 1rem;
}

.Position-restaurants-Pages--image {
  width: 100%;
}

.Section_Restaurants_global {
  background-color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

.Section_Restaurants_Menu {
  background-color: #f3f3f3;
  margin-top: 1rem;
}

.Button_Restaurants_Menu {
  border-radius: 2rem;
  height: 4.5rem;
  width: 15rem;
  margin-top: 1.3rem;
  width: 90%;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.2rem;
  background-color: white;
  -webkit-box-shadow: 2px 2px 14px #aaaaaa;
          box-shadow: 2px 2px 14px #aaaaaa;
}

.Article_Restaurants_Menu--underline {
  height: 0.2rem;
  width: 3rem;
  background-color: #99E2D0;
  margin-top: 0.5rem;
}
/*# sourceMappingURL=style.css.map */