.Position-restaurants-Pages{
    height: 200px;
margin-top: 1rem;
    &--image{
        width: 100%;
    }
}

.Section_Restaurants_global{
    background-color: $color-bakgroung-light;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;

}


.Section_Restaurants_Menu{
    background-color: $color-bakgroung-light;
    margin-top: 1rem;
    
}

.Button_Restaurants_Menu{
    @include button-nav
}

.Article_Restaurants_Menu{
    width: 350px;

    &--title{
        
    }
    &--underline{
        height: 0.2rem;
        width:3rem;
        background-color: $color-terciary;
        margin-top: 0.5rem;

    }

}