.section-restaurants{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.restaurants__img{
    @include image;
}

.article__restaurants{
    width: 90%;
    border-radius: 20px;
    @include box-shadow;
    margin-top: 2rem;
    margin-left: 1rem;
     &--container{
         height: 150px;
         display: flex;
         align-items: center;
         overflow: hidden;
         border-radius: 20px;
     }
     &--news{
         @include rectangle-Nouveauté;
         position: absolute;
     }
     &--heart{
         position: absolute;
     }
}

.Section-Button_Restaurants{
    @include button_pink;

}