.section__restaurants{
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    &--title{
        margin-left: 1rem;
    }
}


.restaurants__img{
    @include image;
}

.article__restaurants{
    width: 90%;
    border-radius: 20px;
    height: 200px;
    @include box-shadow;
    margin-top: 2rem;
    margin-left: 1rem;
     &--container{
         height: 150px;
         display: flex;
         align-items: center;
         overflow: hidden;
         border-radius: 20px;
     }
     &--news{
         @include rectangle-Nouveauté;
         position: absolute;
         left: 260px;
         margin-bottom: 100px;
         height: 21px;
         padding-top: 0.6rem;
         width: 80px;
         text-align: center;
         color:darken($color-terciary,40%)
     }
     
}

.Section-Button_Restaurants{
    @include button_pink;

}

.restaurants__text{
    display: flex;
    margin: 0.7rem;
      &--left{
          flex-grow: 1;
      }
      &--right{
          font-size: 1.8rem;
      }
}

/* modif à faire */

.article__restaurants--heart{
    
    position: relative;
    z-index: 1;
     &:hover{
         &::after{
             opacity: 1;
            }
    }
    
    &::after{
        font-weight: 900;
        content:"\f004";
        position: absolute;
        transition: opacity 650ms;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0;
        color:$color-primary;
        z-index: -1;
    }
    
}
    