.section-booking__position {
	width: auto;
	display: flex;
	justify-content: center;

	&--button {
		@include button_pink;
	}
}

.nav__button {
	@include button-nav;
	margin: 1rem;
   
	&--number {
		height: 1.7rem;
		width: 2rem;
		background-color: $color-primary;
		border-radius: 50%;
		text-align: center;
		color: white;
		margin-left: -0.9rem;
		padding-top: 0.3rem;
		font-size: 20px;
	}
	&--title {
		display: flex;
		padding-left: 1rem;
		justify-content: center;
		display: flex;
		align-items: center;
	}

	&--logo {
		font-size: 1.5rem;
		padding-right: 1rem;
		color:gray;
	}
	&:hover{
		background-color:lighten($color-primary,35%)
	}
}


.button__restaurants_menu{

    &--text{
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 340px;
    }
    &--price{
        padding-left: 1rem;
        padding-top: 1.5rem;
    }

}