.section-booking__position
{
    width:auto;
    display: flex;
    justify-content: center;

    &--button{
        @include button_pink
        
    }
    
}

.nav__button
{
    border-radius: 2rem;
    height: 2.5rem;
    
}