.section-booking__position {
	width: auto;
	display: flex;
	justify-content: center;

	&--button {
		@include button_pink;
	}
}

.nav__button {
	@include button-nav;
	margin: 1rem;

	&--number {
		height: 1.7rem;
		width: 2rem;
		background-color: $color-primary;
		border-radius: 50%;
		text-align: center;
		color: white;
		margin-left: -0.9rem;
		padding-top: 0.3rem;
		font-size: 20px;
	}
	&--title {
		display: flex;
		padding-left: 1rem;
		justify-content: center;
		display: flex;
		align-items: center;
	}

	&--logo {
		font-size: 1.5rem;
		padding-right: 1rem;
		color: gray;
	}
	&--selection {
		margin-right: 20px;
	}
	&:hover {
		background-color: lighten($color-primary, 35%);
		.nav__button--logo {
			color: $color-primary;
		}
	}
}

.button__restaurants_menu {
	
	&--text {
		display: flex;
		flex-direction: column;
		text-align: left;
		flex-grow: 1;
		margin-left: 10px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;		
	}
	&--price {
		padding-left: 1rem;
		padding-top: 1.5rem;
		margin-right: 30px;
	}
}

.button__restaurants_menu--text>p{
	white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
}