@media (min-width: 1281px) {
    .nav{
        display: flex;
        flex-direction:unset;
    }
    .title__fonction{
        display: flex;
        justify-content: center;
    }

    .section__restaurants{
        flex-direction: row;
        display: flex;
        justify-content: center;

    }
    .section__restaurants--title{
        display: flex;
            margin-top: 20px;
            margin-right: 30px;
            justify-content: center;
    }

    .article__restaurants{
        width: 300px;
    }

    .footer__title{
     display: flex;
     justify-content: center;
    }

    .footer__position{
        display: flex;
        align-items: center;
    }
    .restaurants__menu_global{
      display: flex;
      justify-content: space-between;
      margin: 30px;
    }
    .position_underline_plats
    {
        padding-right: 25px;

    }
    .restaurants__pages{
        overflow: hidden;
    }

  }
  @media screen and (max-device-width: 300px){

    h3{
        font-size: 0.8rem;
    }

    .button__restaurants_menu{
        width: 250px;
    }

    .button__restaurants_menu--text{
        font-size: 0.6rem;
    }
    .lds-ring {
        height: 20px;
        width: 10px;
    }
    .text-spiner{
        margin-left: 10px;
    }
  }
