@media (min-width: 1281px) {
    .nav{
        display: flex;
        flex-direction:unset;
    }
    .title__fonction{
        display: flex;
        justify-content: center;
    }

    .section__restaurants{
        flex-direction: row;

    }

    .article__restaurants{
        width: 300px;
    }

    .footer__title{
     display: flex;
     justify-content: center;
    }

    .footer__position{
        display: flex;
        align-items: center;
    }
    .restaurants__menu_global{
      display: flex;
      justify-content: space-between;
      margin: 30px;
    }
    .position_underline_plats
    {
        padding-right: 25px;

    }
    .restaurants__pages{
        overflow: hidden;
    }

  }
