@mixin logo_titre {
    color:black;
	font-family: "Shrikhand";
	font-size: 1.5rem
}

@mixin button_pink {
	background-color:$color-secondary ;
	height: 2rem;
    border-radius: 2rem;
	color: white;
	border-color:$color-secondary ;
}

@mixin image{
	object-fit: cover;
	width: 100%;
}

@mixin rectangle-Nouveauté{
	width: 65px;
	height: 20px;
	background-color:$color-terciary;
}
@mixin box-shadow{
	box-shadow: 2px 2px 14px #aaaaaa;
}