@mixin logo_titre {
    color:black;
	font-family: "Shrikhand";
	font-size: 1.8rem
}

@mixin button_pink {
	background:linear-gradient($color-secondary,$color-primary);
	height: 2.3rem;
    border-radius: 2rem;
	color: white;
	border:none;
    width: 13rem;
    box-shadow: 2px 2px 14px #aaaaaa;


}

@mixin image{
	object-fit: cover;
	width: 100%;
}
/*enlever accent et mettre en minuscule */
@mixin rectangle-Nouveauté{
	width: 65px;
	height: 20px;
	background-color:$color-terciary;
}
@mixin box-shadow{
	box-shadow: 2px 2px 14px #aaaaaa;
}

@mixin button-nav {
	border-radius: 2rem;
    height: 4.5rem;
    width: 15rem;
    margin-top: 1.3rem;
    width: 90%;
    border-radius: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.2rem;
    background-color:$color-bakgroung-light;
    box-shadow: 2px 2px 14px #aaaaaa;
	border: none;
    margin-left: 1rem;
}

@mixin button-menu{
    height: 4.5rem;
    width: 15rem;
    margin-top: 1.3rem;
    width: 95%;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.2rem;
    background-color:$color-bakgroung-light;
    box-shadow: 2px 2px 14px #aaaaaa;
	border: none;
    margin-left: 1rem;
}